<section>
    <div class="login-container">
        <h2 class="form-title">Login</h2>
      
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
          
          <!-- Email -->
          <div class="form-group">
            <label for="email">Email</label>
            <input
              id="email"
              type="email"
              formControlName="email"
              placeholder="Enter your email"
            />
            <div class="error" *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.touched">
              Valid email is required
            </div>
          </div>
      
          <!-- Password -->
          <div class="form-group">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              placeholder="Enter your password"
            />
            <div class="error" *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
              Password must be at least 6 characters
            </div>
          </div>
      
          <!-- Submit -->
          <button type="submit" [disabled]="loginForm.invalid" class="btn">
            Login
          </button>
        </form>
      </div>
      
</section>