<footer class="site-footer  py-4">
    <div class="container">
      <div class="row text-center text-md-start">
  
        <!-- Brand / Info -->
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <h5 class="footer-title">JobQuest</h5>
          <p class="footer-text">Connecting top talent with great companies around the world.</p>
        </div>
  
        <!-- Quick Links -->
        <div class="col-12 col-md-4 mb-4 mb-md-0">
          <h6 class="footer-subtitle">Quick Links</h6>
          <ul class="list-unstyled">
            <li><a href="#" class="footer-link">Browse Jobs</a></li>
            <li><a href="#" class="footer-link">Post a Job</a></li>
            <li><a href="#" class="footer-link">Companies</a></li>
            <li><a href="#" class="footer-link">Contact</a></li>
          </ul>
        </div>
  
        <!-- Social / Contact -->
        <div class="col-12 col-md-4">
          <h6 class="footer-subtitle">Stay Connected</h6>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#" class="footer-social">LinkedIn</a></li>
            <li class="list-inline-item"><a href="#" class="footer-social">Twitter</a></li>
            <li class="list-inline-item"><a href="#" class="footer-social">Email</a></li>
          </ul>
        </div>
  
      </div>
  
      <hr class="footer-divider my-4">
  
      <p class="text-center small footer-copyright">
        © 2025 JobQuest. All rights reserved.
      </p>
    </div>
  </footer>
  
