<section>
    <div class="register-container">
    <h2>Create Account</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="userName">Username</label>
        <input id="userName" type="text" formControlName="userName" required>
      </div>
  
      <div class="form-group">
        <label for="email">Email Address</label>
        <input id="email" type="email" formControlName="email" required>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" required>
      </div>
  
      <button type="submit" class="btn" [disabled]="registerForm.invalid || isBtnSubmit">Register
        @if (isBtnSubmit) {
          <i class="fa-solid fa-spinner fa-spin"></i>
        }@else {
          <i class="fa-solid fa-spinner fa-spin d-none"></i>
        }
      </button>
    </form>
  
    <p class="note">
      Already have an account? <a routerLink="/log-in">Login here</a>
    </p>
</div>
</section>
  
