.hero-section{
    height: 100vh;
    background-image: url(../../../assets/images/hero-section-1.jpg);
    background-size: cover;
    z-index: 100;
    position: relative;
    overflow: hidden;

}

.hero-text{
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    background-color:var( --color-bg);
    color:var(--color-accent-teal);
    padding: 100px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.hero-text button{
    color: black;
    background-color: var(--color-accent-teal);

}
.hero-text button:hover{
    background-color: #398f82;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    color: white;
}
.how-many-interviews{
    margin-top: 100px;
}