<!-- after making the jobs API service you will take this pipe SearchPipePipe and inject it to the for loop in the 
    variable that have all the product |searchPipe:"searchTerm here" you will need to create an [(ngModel)]="" => with importing the formsModule,
     variable to take the search term from
    the search input and add it to the for loop search pipe 
-->
<section>
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8">
        <div class="search-bar p-3 rounded d-flex align-items-center gap-2 shadow-lg">
          <input type="text" class="form-control custom-input" placeholder="Search for jobs..." />
          <button class="btn btn-search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container my-5">
    <div class="row g-4">
      
    @for (item of allJobs; track $index) {
      <div class="col-12 col-md-6 col-lg-4"  [routerLink]="'/main/job-details/'+item._id">
        <div class="job-card p-4 rounded border h-100 position-relative overflow-hidden">
          <div class="job-card-bg"></div>
         <div class="d-flex align-content-center justify-content-between">
          <h5 class="job-title mb-1 text-primary">{{item.title}}</h5>
          <span class=" badge-custom badge-accent-teal">posted At :{{item.createdAt | date:'shortTime'}}</span>

         </div>
          <p class="job-company mb-2 text-secondary">TechNova Inc.</p>
          <p class="job-company mb-2 text-secondary">{{item.description}}</p>
          <div class="badges mb-3">
            <span class="badge badge-custom badge-accent-teal" >Full-Time</span>
            <span class="badge badge-custom badge-accent-purple">Remote</span>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span class="job-location text-danger">New York, NY</span>
            <button class="btn btn-apply">
              Apply Now
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            </button>
          </div>
        </div>
      </div>
    }
  
     
  
  
    </div>
  </div>
</section>


