<section>
    <div class="role-container">
        <h2>Welcome!</h2>
        <p class="subtitle">Please choose your role</p>
      
        <div class="roles">
          <div class="role-card employer" (click)="selectRole('employer')">
            <h3>👔 Employer</h3>
            <p>Post jobs and find the right talent.</p>
          </div>
      
          <div class="role-card seeker" (click)="selectRole('jobseeker')">
            <h3>💼 Job Seeker</h3>
            <p>Search and apply for job opportunities.</p>
          </div>
        </div>
      </div>
</section>
  